.formulario {
    border: 1px solid white;
    border-radius: 20px;
    width: 30vw;
    height: auto;
    text-align: center;
    padding: 20px;
}

.formulario input, select {
    width: 100%;

    height: 3vh;
    
}



table {
    margin: 0 auto;
}

h2 {
    text-align: center;
}

.novo {
    margin: 20px;
    margin-left: 45%;
}

tr, th, td {
    width: 10vw;
    border-top: 1px solid white;
    padding: 5px 0px;
    text-align: center;
}