.react-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content {
  position: relative;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-height: 80vh;
  overflow-y: auto;
}

.chat-container {
  margin-top: 20px;
  border-top: 1px solid #555;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px; 
}

.chat-mensagens {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;

  display: flex;          
  flex-direction: column;  
  gap: 6px;                
  padding: 8px 0;
}

.chat-mensagem {
  margin-bottom: 0; 
}

.chat-input {
  display: flex;
  gap: 5px;
}

.chat-input input {
  flex: 1;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.chat-input button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.mensagem {
  padding: 8px;
  border-radius: 8px;
  max-width: 70%;
  word-break: break-word;
}

.eu {
  align-self: flex-end;
  background: #007bff;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
}


.outro {
  align-self: flex-start;
  background: #333;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
}
